<h2>Users</h2>

<div class="row">
    <div class="col col-12 col-md-4">

        <div class="form-section">

            <form autocomplete="off" #ngForm="ngForm" [formGroup]="userForm" (ngSubmit)="saveUser()">
                <mat-form-field>
                    <input matInput placeholder="First Name" autocomplete="off" formControlName="firstName">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Last Name" autocomplete="off" formControlName="lastName">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Phone" autocomplete="off" formControlName="phone" type="number">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password" autocomplete="off" formControlName="password" readonly>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Village</mat-label>
                    <mat-select formControlName="VillageId">
                        <mat-option *ngFor="let village of villages" [value]="village.id">{{ village.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>User Role</mat-label>
                    <mat-select formControlName="role">
                        <mat-option value="entrepreneur">Entrepreneur</mat-option>
                        <mat-option value="offline">Offline</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="display-block">
                    <button mat-flat-button color="primary" type="submit" [disabled]="!(userForm.valid && userForm.touched)">Save</button>
                    <button mat-button (click)="ngForm.resetForm({ password: generatePassword() })">Reset</button>
                </div>

            </form>

        </div>

    </div>
    <div class="col col-12 col-md-8">

        <div class="table-section">

            <div class="text-right">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
            </div>
    
            <div class="table-container">
                <table mat-table [dataSource]="dataSource">
        
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef> Phone </th>
                        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="role">
                        <th mat-header-cell *matHeaderCellDef> Role </th>
                        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                    </ng-container>

                    <ng-container matColumnDef="active">
                        <th mat-header-cell *matHeaderCellDef> Active </th>
                        <td mat-cell *matCellDef="let element"> {{element.active}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Active </th>
                        <td mat-cell *matCellDef="let element"> <button mat-button (click)="editUser(element)">Edit</button></td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

            </div>

        </div>
        

    </div>
</div>