<mat-sidenav-container (backdropClick)="close('backdrop')" fullscreen>

  <mat-sidenav #sidenav opened="false" mode="over">

    <div class="text-center mt-4 mb-4">
      <img src="./../assets/logo.png" alt="Gram Vikas" width="120">
    </div>

    <mat-list>
      <mat-list-item routerLinkActive="active">
        <a routerLink="/dashboard">Dashboard</a>
      </mat-list-item>
      <mat-list-item routerLinkActive="active">
        <a routerLink="/users">Users</a>
      </mat-list-item>
      <mat-list-item routerLinkActive="active">
        <a routerLink="/villages">Villages</a>
      </mat-list-item>
      <mat-list-item routerLinkActive="active">
        <a routerLink="/blogs">Blogs</a>
      </mat-list-item>
      <mat-list-item routerLinkActive="active">
        <a routerLink="/messages">Messages</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
    
  <mat-toolbar class="mat-elevation-z6 header-toolbar" role="header">
    <mat-toolbar-row>
      <button mat-button disableRipple (click)="sidenav.toggle()" class="sidenav-toggle-button">X</button>
      GV Smart Community
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="main">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>

  </mat-sidenav-container>