<h2>Blog</h2>

<div class="row">
    <div class="col col-12 col-md-5">

        <div class="table-section">

            <div class="text-right">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
            </div>
    
            <div class="table-container">
                <table mat-table [dataSource]="dataSource">
        
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> Id </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef> Category </th>
                        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">  
                            <button color="primary" mat-icon-button (click)="editBlog(element)">Edit</button>
                        </td>
                    </ng-container>
                                        
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

            </div>

        </div>

    </div>
    <div class="col col-12 col-md-7">
        
        <form autocomplete="off" #ngForm="ngForm" [formGroup]="blogForm" class="blog-form mt-4" (ngSubmit)="saveBlog()" novalidate>
            
            <mat-form-field>
                <input matInput placeholder="Blog Title" name="title22" id="title22" autocomplete="new-password" formControlName="name">
            </mat-form-field>

            <mat-form-field>
                <mat-select formControlName="category" (selectionChange)="categoryChange($event)">
                    <mat-option *ngFor="let food of ['News', 'Health', 'Video', 'General', 'Others']" [value]="food">
                        {{ food }}
                    </mat-option>
                </mat-select>
                <!-- <input matInput placeholder="Blog Category" name="category22" id="category22" autocomplete="new-password" formControlName="category"> -->
            </mat-form-field>

            <div class="mt-3" [hidden]="isVideoBlog">
                <quill-editor #editor [styles]="{height: '300px'}" formControlName="content"></quill-editor>
            </div>

            <div class="mt-3" *ngIf="isVideoBlog">
                <input type="file" (change)="uploadVideo($event.target.files)" accept=".mp4,.mkv,.flv">
            </div>
    
            <div class="display-block mb-3">
                <button mat-flat-button [disabled]="!(blogForm.valid && blogForm.touched)" color="primary" type="submit" class="mt-3">Save</button>
                <button mat-button type="button" (click)="resetBlogForm()">Reset</button>
            </div>

        </form>


    </div>
</div>